# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/bio_szkielet_01_win/v16/Browse.VC.db
/.vs/bio_szkielet_01_win/v16/Browse.VC.opendb
/.vs/bio_szkielet_01_win/v16/ipch/AutoPCH/5ea5969385141883/MAIN_FILE.ipch
